hot
<md-card class="md-card ambest-card md-whiteframe-15dp" ng-repeat="card in cardInfos" ng-click="go(card.article._id)">
	<div class="view-card-image">
		<img ng-src="{{card.article.imgPath}}" class="md-card-image">
	</div>
	<md-card-content>
		<div class="ambest-card-info" layout="row" layout-wrap layout-align="center center">
			<div flex><h4>{{card.article.title}}</h4></div>
			<!-- <div flex="10">
				<ng-md-icon icon="thumb_up" class="icon-color-gray"></ng-md-icon> {{card.likesCnt}}
			</div>
			<div flex="10">
				<ng-md-icon icon="messenger" class="icon-color-gray"></ng-md-icon> {{card.replysCnt}}
			</div>
			<div flex="10">
				<ng-md-icon icon="people" class="icon-color-gray"></ng-md-icon> {{card.challengesCnt}}
			</div> -->
		</div>
	</md-card-content>
</md-card>
