.fab-fixed
    position fixed
    z-index 1000
    bottom 50px
    right 50px
    -webkit-box-shadow 0 2px 2px 0 #cccccc
    box-shadow 0 2px 2px 0 #cccccc
    //background-color #ffbb00
    //color: #000000