<header scroll-y-offset-element class="header header-fixed">	
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" href="/#/">
				<ng-md-icon icon="home" style="fill:#ffffff"></ng-md-icon>
			</md-button>
			<h2>
				List
			</h2>
			<span flex=""></span>
			<md-button class="md-icon-button" aria-label="create">
				<call-new-div title="Create" include-url="app/article/create/create.html">
					<ng-md-icon icon="create" style="fill:#ffffff"></ng-md-icon>
				</call-new-div>
			</md-button>
			<md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()">
				<ng-md-icon icon="person" style="fill:#ffffff"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
</header>


	<md-content class="contest-list">
	<md-card class="md-card md-whiteframe-15dp" ng-repeat="card in cardInfos" ng-click="go(card.article._id)">
		<div class="view-card-imagearea">
			<div class="view-card-title"> 
				<h2 class="md-title view-card-title-latter">{{card.article.title}}</h2> 
			</div>
			<div class="view-card-image">
				<img ng-src="{{card.article.imgPath}}" class="md-card-image">
			</div>
		</div>
		<md-card-content>
			<!-- <h2 class="md-title">{{card.article.title}}</h2> -->
			<p>
				{{card.article.content}} 

			</p>

			<div layout="row">
				<p flex>
					{{card.article.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}
				</p>
				<p flex></p>
				<p flex>
					<ng-md-icon icon="thumb_up" class="icon-color-gray"></ng-md-icon> {{card.likesCnt}}
					<ng-md-icon icon="messenger" class="icon-color-gray"></ng-md-icon> {{card.replysCnt}}
					<ng-md-icon icon="people" class="icon-color-gray"></ng-md-icon> {{card.challengesCnt}}
				</p>
			</div>
		</md-card-content>
	</md-card>
	</md-content>

