@import "font-awesome/css/font-awesome.css"
@import "bootstrap/dist/css/bootstrap.css"

//
// Bootstrap Fonts
//

@font-face
    font-family: 'Glyphicons Halflings'
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

.browsehappy
    background #ccc
    color #000
    margin 0.2em 0
    padding 0.2em 0

// Component styles are injected through grunt
// injector
@import 'account/login/login.styl';
@import 'admin/admin.styl';
@import 'article/create/create.styl';
@import 'article/edit/edit.styl';
@import 'article/list/list.styl';
@import 'article/view/view.styl';
@import 'challenge/edit/edit.styl';
@import 'envy/create/create.styl';
@import 'envy/edit/edit.styl';
@import 'envy/list/list.styl';
@import 'envy/view/view.styl';
@import 'index.styl';
@import 'layer/dhlayer.styl';
@import 'modal/modal.styl';
@import 'navbar/navbar.styl';
// endinjector


.icon-color-gray
  fill #aaaaaa

.article-create
  z-index 1000

.ambest-title
  z-index 200
  top 0px
  position fixed
  height 56px
  width 100%

.ambest-tabs
  z-index 100
  position fixed
  top 56px
  //height 44px
  width 100%

.ambest-contents
  position relative
  z-index 50
  top 56px
  min-height 600px
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto
.ambest-contents.tabs
  top 100px