/*
[ui-view] {
    -webkit-transition: -webkit-transform .7s ease-in-out;
    -moz-transition: -moz-transform .7s ease-in-out;
    -o-transition: -o-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

[ui-view].ng-enter {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

[ui-view].ng-enter.ng-enter-active, [ui-view].ng-leave {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

[ui-view].ng-leave.ng-leave-active {
    opacity 0
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

*/
.header-fixed {
    z-index 100
    position fixed
    top 0px
    width 100%
    height 56px
}