<div ng-controller="AppCtrl" layout="culomn" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="main()">
        <ng-md-icon icon="menu" style="fill:#ffffff"></ng-md-icon>
      </md-button>
      <h2>
        <span>{{getCurrentUser()._id}}, {{getCurrentUser().name}}</span>
      </h2>
      <span flex=""></span>
      <md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()">
        <ng-md-icon icon="person" style="fill:#ffffff"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-button class="md-fab md-primary fab-fixed" aria-label="Create" href="#/article/create">
    <ng-md-icon icon="create"></md-icon>
  </md-button>
</div>