<div ng-controller="AppCtrl" layout="culomn" layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-src='assets/images/ic_menu_white_48px.svg' aria-label="menu" style="color: greenyellow;"></md-icon>
        </md-button>
        <h2>
          <span>Toolbar</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="assets/images/ic_more_vert_white_48px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
</div>