<md-dialog class="dialog" aria-label="Create"  ng-cloak 
  flow-init
  flow-files-submitted="$flow.upload()"
  flow-file-success="getTmpFileName($file, $message)"
  >

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="assets/images/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
  <form name="createForm" role="form">
    <div layout="column" layout-align="center center">
      <div>
        <md-input-container>
          <label>Title</label>
          <input type="text" ng-model="item.title" required md-maxlength="50" minlength="5" aria-label="Input Content">
        </md-input-container>
      </div>
      <md-card class="md-card" ng-repeat="item in items">
        <md-button aria-label="Photo" class="md-fab md-primary md-raised md-mini" flow-btn>
          <md-icon md-svg-src="assets/images/ic_photo_camera_white_48px.svg" aria-label="Photo"></md-icon>
        </md-button>
        <div>
          <img flow-img="$flow.files[0]" class="upload-image"/>
        </div>
        
        <md-input-container>
          <label>Content</label>
         <textarea ng-model="item.content" md-maxlength="20"></textarea>
        </md-input-container>
      </md-card>
    </div>
    <md-button class="md-raised md-primary" ng-click="add()">
      <md-icon md-svg-src="assets/images/ic_add_white_48px.svg" aria-label="add"></md-icon>
    </md-button>
  </form>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button class="md-raised md-warn" ng-click="create()">
      <md-icon md-svg-src="assets/images/ic_done_white_48px.svg" aria-label="Done"></md-icon>
    </md-button>
  </div>
</md-dialog>