<md-dialog class="dialog" aria-label="Create"  ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="assets/images/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content class="md-padding">
      <form name="createForm" role="form">    
        <md-input-container>
          <label>Title</label>
          <input type="text" ng-model="article.title" required md-maxlength="100" minlength="5" aria-label="Input Title">
        </md-input-container>
        <div
          flow-init="{query:{imgIndex:$index}}" 
          flow-files-submitted="$flow.upload()" 
          flow-file-success="getTmpFileName($file, $message, $index)">
          <md-button aria-label="Photo" class="md-fab md-primary md-raised md-mini" flow-btn>
            <md-icon md-svg-src="assets/images/ic_photo_camera_white_48px.svg" aria-label="Photo"></md-icon>
          </md-button>
          <div>
            <img flow-img="$flow.files[0]" class="upload-image"/>
          </div>
          
          <md-input-container>
            <label>Content</label>
            <textarea ng-model="article.content"></textarea>
          </md-input-container>
        </div>
        <div class="md-actions" layout="row">
          <md-button class="md-raised md-warn" ng-click="create()">
            <md-icon md-svg-src="assets/images/ic_navigate_next_white_48px.svg" aria-label="Next"></md-icon>
          </md-button>
        </div>
      </form>
    </md-content>
  </md-dialog-content>
</md-dialog>