.thing-form
    margin 20px 0

#banner
    border-bottom none
    margin-top -20px

#banner h1
    font-size 60px
    letter-spacing -1px
    line-height 1

.hero-unit
    background #4393B9
    color #F5F5F5
    padding 30px 15px
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.footer
    border-top 1px solid #E5E5E5
    margin-top 70px
    padding 30px 0
    text-align center

.navbar-text
    margin-left 15px



.fab-fixed
    position fixed
    z-index 1000
    bottom 50px
    right 50px
    -webkit-box-shadow 0 2px 2px 0 #cccccc
    box-shadow 0 2px 2px 0 #cccccc
    //background-color #ffbb00
    //color: #000000

.upload-image
    height 200px

.dialog
    width 95%
    height 95%
.md-card
    width 500px

//.upload-image
//    width 200px
//    height 200px

md-tabs-wrapper
    display none