<md-button class="md-fab md-primary fab-fixed" aria-label="Create" href="#/article/create">
  <md-icon md-svg-src="assets/images/ic_create_white_48px.svg"></md-icon>
</md-button>

<div layout="column" layout-align="center center">
<md-card class="md-card md-whiteframe-15dp" ng-repeat="challenge in challenges" ng-click="showArticle(challenge._id, $event)">
<img ng-src="{{challenge.items[0].imgFilePath}}" class="md-card-image">
<md-card-content>
  <h2 class="md-title">{{challenge.title}}</h2>
  <p>
    {{challenge.items[0].content}}
  </p>
</md-card-content>
</md-card>
</div>