<md-dialog class="dialog" aria-label="View"  ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{article.title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="assets/images/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="column" layout-align="center center">
      <md-card class="md-card" ng-repeat="item in article.items">
        <div>
          <img ng-src="{{item.imgFilePath}}" class="md-card-image">
        </div>
        <p>
          {{item.content}}
        </p>
      </md-card>
    </div>
  </md-dialog-content>
  <md-button class="md-fab md-primary md-raised md-mini" ng-click="challenge(articleId, $event)">
    <md-icon md-svg-src="assets/images/oriental.svg" aria-label="challenge"></md-icon>
  </md-button>
</md-dialog>