<md-toolbar class="ambest-title">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="back" back>
      <ng-md-icon icon="clear" style="fill:#ffffff"></ng-md-icon>
    </md-button>
    <h2>
      
    </h2>
    <span flex=""></span>
  </div>
</md-toolbar>

<md-content class="ambest-contents">
  <div layout="row" layout-wrap layout-align="center center">
    <h4 flex="70">{{envy.title}}</h4>
    <span flex></span>
    <div flex>
    <md-button ng-if="auth.getCurrentUser()._id == envy.createdBy" class="md-raised md-warn" ng-click="editEnvy(envy)">
      <ng-md-icon icon="create"></ng-md-icon>
    </md-button></div>
    <div flex>
    <md-button ng-if="auth.getCurrentUser()._id == envy.createdBy" class="md-raised md-warn" ng-click="delEnvy(envy)">
      <ng-md-icon icon="delete"></ng-md-icon>
    </md-button></div>
  </div>
  <md-card class="md-card md-whiteframe-15dp" ng-repeat="item in envy.envyItems">
    <img ng-src="{{item.imgPath}}/{{item.fileName}}">
    <md-card-content>
      <p layout-align="center left">
      <h4>{{item.text}}</h4>
      </p>
    </md-card-content>
  </md-card>

  <div class="ambest-reply">
    <md-list>
      <md-subheader class="md-no-sticky">{{replysCount}} Replys...</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="reply in envy.replys">
        <img ng-src="{{reply.face}}?{{$index}}" class="md-avatar" alt="{{reply.who}}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ reply.createdBy.name }}</h3>
          <h4>{{ reply.text }}</h4>
        </div>
        <md-button ng-if="auth.getCurrentUser()._id == reply.createdBy._id" ng-click="delRep($index)" aria-label="delete">
          <ng-md-icon icon="clear" style="fill:#000000"></ng-md-icon>
        </md-button>
      </md-list-item>
      <md-divider ng-if="!$last"></md-divider>
    </md-list>
    <md-divider></md-divider>
    <input type="text" class="form-control" placeholder="reply..." ng-model="repPost.text" />
    <span class="input-group-btn">
      <md-button class="md-raised md-primary" ng-click="replyPost()" aria-label="Post">
        <ng-md-icon icon="send" style="fill:#ffffff"></ng-md-icon>
      </md-button>
    </span>
  </div>
</md-content>
